<section id="adHoc-task">
    <div data-ng-class="adHocCtrl.isActiveWaitIcon ? 'show' : 'hide'" class="load-icon">
        <img src="/Content/images/load-icon.gif" />
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Select task category: ' | translate}}*</label>
            <div class="col-md-7">
                <category-tree-picker config="adHocCtrl.categoryTreePickerConfig"></category-tree-picker>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Date: ' | translate}}*</label>
            <div class="col-md-3 date-picker">
                <date-picker config="adHocCtrl.datePickerConfig"></date-picker>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Estimated time' | translate}}: *</label>
            <div class="col-md-7">
                <div class="operation__time-control">
                    <text-control config="adHocCtrl.estimatePickerConfig"></text-control>
                </div>
                <span>{{::'hours' | translate}}</span>
                <span class="time pe-7s-clock"></span>
            </div>
        </div>
    </div>

    <hr class="divider" />

    <div class="form-group" ng-if="adHocCtrl.isAllowChooseDepartment">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Housing department' | translate}}: *</label>
            <div class="col-md-7 operation__indent">
                <department-picker ng-model="adHocCtrl.selectedDepartment" config="adHocCtrl.departmentPickerConfig"></department-picker>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Task title:' | translate}}*</label>
            <div class="col-md-7">
                <text-control config="adHocCtrl.titlePickerConfig"></text-control>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Task description:' | translate}}</label>
            <div class="col-md-7">
                <text-area-control config="adHocCtrl.descriptionPickerConfig"></text-area-control>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Address' | translate}}:</label>
            <div class="col-md-7">
                <address-control data-config="adHocCtrl.addressControlConfig"></address-control>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Documents:' | translate}}</label>
            <div class="col-md-9 operation__indent">
                <div data-ng-if="!adHocCtrl.isTaskSaved">
                    <file-uploader config="adHocCtrl.ordinalFileUploaderConfig">
                    </file-uploader>
                </div>
                <div data-ng-if="adHocCtrl.isTaskSaved">
                    <file-uploader config="adHocCtrl.instantFileUploaderConfig" data-ng-if="adHocCtrl.showFileUploader">
                    </file-uploader>

                    <table class="table _valign-m" data-ng-if="adHocCtrl.adHocTask.uploads.length">
                        <thead>
                            <tr>
                                <th>{{::'File name' | translate}}</th>
                                <th>{{::'Creator name' | translate}}</th>
                                <th>{{::'Creation date' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="document in adHocCtrl.adHocTask.uploads">
                                <td>
                                    <a file-downloader data-ng-href="{{::document.path}}" alt="uploadedDocument">{{::document.fileName}}</a>
                                </td>
                                <td>
                                    <user-avatar data-config="{ url: document.uploader.avatar, name: document.uploader.name }" />
                                    <span>{{::document.uploader.name}}</span>
                                </td>
                                <td>
                                    {{adHocCtrl.getFormatedCreationDate(document.creationDate)}}
                                </td>
                                <td>
                                    <span class="document__del pe-7s-close" data-ng-click="adHocCtrl.deleteDocument(document)" data-ng-if="adHocCtrl.showDeleteDocumentButton"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr class="divider" ng-if="adHocCtrl.isAllowAssignMembers" />

    <div class="form-group" ng-if="adHocCtrl.isAllowAssignMembers">
        <div class="row">
            <label class="col-md-3 control-label">{{::'Responsible' | translate}} *:</label>
            <div class="col-md-7">
                <team-picker config="adHocCtrl.teamPickerConfig"></team-picker>
            </div>
        </div>
    </div>

    <div class="form-group" data-ng-if="!adHocCtrl.isTaskSaved && adHocCtrl.showSaveButton">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 operation__indent">
                <button class="btn btn-primary" type="button" data-ng-click="adHocCtrl.save()">
                    <span>{{::'Save' | translate}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group janitor-button" data-ng-if="adHocCtrl.showJanitorButtons">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 operation__indent">
                <button class="btn btn-primary" type="button" data-ng-click="adHocCtrl.assignToMe()">
                    <span>{{::'Assign on me' | translate}}</span>
                </button>
                <button class="btn btn-primary" type="button" data-ng-click="adHocCtrl.openTask()">
                    <span>{{::'Open task' | translate}}</span>
                </button>
            </div>
        </div>
    </div>

    <hr class="divider" data-ng-if="adHocCtrl.isTaskSaved" />

    <div class="form-group" data-ng-if="adHocCtrl.isTaskSaved">
        <div class="row m-b" ng-if="!adHocCtrl.isCompleted">
            <label class="col-md-3 control-label">
                <span>{{::'Cancel task' | translate}}:</span>
            </label>
            <div class="col-sm-7">
                <div ng-if="!adHocCtrl.isCanceled" class="row _custom">
                    <div class="col-md-8">
                        <select-control data-ng-disabled="adHocCtrl.disableTaskCancelControl" config="adHocCtrl.cancellationReasonConfig">
                        </select-control>
                    </div>
                    <div class="col-md-4 operation__indent">
                        <button class="btn btn-default"
                                type="button"
                                data-ng-click="adHocCtrl.cancel()"
                                data-ng-disabled="adHocCtrl.disableTaskCancelButton">
                            <span>{{::'Cancel assignment' | translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="_pt-indent" data-ng-if="adHocCtrl.isCanceled">
                <span>{{::'Task canceled' | translate}}</span>
            </div>
        </div>
        <div class="row" ng-if="adHocCtrl.isCompleted && !adHocCtrl.isReopened">
            <label class="col-md-3 control-label">
                <span>{{::'Reopen task' | translate}}:</span>
            </label>
            <div class="col-md-7 operation__indent">
                <button class="btn btn-default" type="button" ng-click="adHocCtrl.onReopen()">
                    <span>{{::'Reopen task' | translate}}</span>
                </button>
            </div>
        </div>
        <div class="row" ng-if="adHocCtrl.isReopened">
            <label class="col-md-3 control-label">
                <span>{{::'Reopen task' | translate}}:</span>
            </label>
            <div class="col-md-7 operation__indent">
                <div class="_pt-indent">
                    <span>{{::'Task reopened' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>