<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target 
      name="syncMemberLog"  
      xsi:type="File" 
      fileName="App_Data/Log/SyncMembers_${shortdate}.txt"
      archiveFileName="App_Data/Archives/SyncMembers_${shortdate}.txt"
      archiveEvery="Day"
      maxArchiveFiles="7"
      keepFileOpen="false"
      />
    <target
      name="moveExpiredJobsLog"
      xsi:type="File"
      fileName="App_Data/Log/MoveJobs_${shortdate}.txt"
      />
  </targets>

  <rules>
    <logger name="SyncMembersLog" minlevel="Info" writeTo="syncMemberLog" />
    <logger name="MoveExpiriedJobsLog" minlevel="Info" writeTo="moveExpiredJobsLog" />
  </rules>
</nlog>