<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
  </system.web>
  <mongoConfiguration ConnectionString="mongodb://localhost/Edrift" DatabaseName="Edrift" xdt:Transform="SetAttributes"/>
  <appSettings>
    <add key="ADFS.Realm" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ADFS.Metadata" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ADFS.LoginUrl" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ADFS.SigninCert" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="ADFS.Issuer" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="IsADFSLogin" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>
</configuration>